.home-container{
    height: 100%;
    width: 100%;
    background-color: white;
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}
.header-text{
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #9D9DA9;
    margin: 0 auto;
    position: relative;
}
.patient-container{
    width: 100%;
    height: 90%;
    contain: content;
    position: relative;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    overflow: scroll;
    background-color: white;
}
.patient-container-text{
    color: purple;
    font-size: 26px;
    font-weight: 400;
}
.patient-container-banner{
    width: 100%;
    height: 40%;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loader-container{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.error-message{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    color: purple;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    position: absolute;
}