.physician-container{
    width: 100%;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}
.physician-text{
    display: inline;
    color: black;
    font-weight: 200;
}
.line{
    width: 0.5px;
    background-color: purple;
    height: 15px;
    margin-bottom: 5px;
}